/* Light and Dark Mode */
:root {
    color-scheme: light dark;

    --content-primary-light: #000000;
    --content-primary-dark: #FFFFFF;

    --content-secondary-light: #666666;
    --content-secondary-dark: #AAAAAA;

    --content-contrast: #888888;

    --content-disabled-light: #BBBBBB;
    --content-disabled-dark: #555555;

    --border-contrast-light: #000000;
    --border-contrast-dark: #FFFFFF;

    --gradient-light: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%);
    --gradient-dark: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 100%);

    --background-light: #FFFFFF;
    --background-dark: #121212;
}

.light-mode {
    color-scheme: light;
}

.dark-mode {
    color-scheme: dark;
}

.primary {
    color: light-dark(var(--content-primary-light), var(--content-primary-dark));
}

.secondary {
    color: light-dark(var(--content-secondary-light), var(--content-secondary-dark));
}

.contrast {
    color: var(--content-contrast);
}

.gradient { 
    background: var(--gradient-dark);
}

.translucent {
    opacity: 0.5;
}